* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.container {
    background-color: #fff;
    padding: 30px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
}

.section-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap; /* Isso permite que as seções se ajustem em telas menores */
}

.section {
    width: 48%; /* Cada seção ocupa 48% da largura */
    min-width: 300px; /* Garante que as seções não fiquem pequenas demais */
    margin: 0px auto;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

h2 span {
    font-weight: bold;
    color: #2e8b57;
}

/* Estilo para telas menores */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 20px;
    }

    .section-container {
        flex-direction: column; /* As seções se empilham uma em cima da outra em telas pequenas */
    }

    .section {
        width: 100%; /* Cada seção ocupa 100% da largura em telas pequenas */
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }

    h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 1.2rem;
    }
}
